body {
    margin: 0;
  }
.main-header{
  height: 10vh;
  background-color: #ff7f00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo{
  margin-left: 20px;
}

.nav-bar{
  margin-right: 20px;
}


.canvas-container {
    width: 50%;
    height: 85vh;
    position: relative;
  }

#my-canvas{
    margin-inline: auto;
    width: 100%;
  }

/* .background{
    background-color: aqua;
    width: 500px;
} */

.main-layout{
    width: 100vw;
    display: none;
}

.text1{
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid white;
    color: black;
}

.gallery-modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* justify-content: space-between; */

  /* grid-template-columns: 20vw 20vw 20vw 20vw; */
  /* width: 100vw; */
  /* height: 100vh; */
  left: 0;
}

.gallery-modal img{
height: 250px;
}

.footer{
  display: flex;
  height: 207px;
  background-color: #ff7f00;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
