*{
  box-sizing: border-box;
}

body {
    margin: 0;
  }
.main-header{
  height: 10vh;
  background-color: #ff7f00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo{
  margin-left: 20px;
  font: 30px cursive;

}

.nav-bar{
  margin-right: 20px;
}


.canvas-container {
    width: 50%;
    height: 70vh;
    position: relative;
  }

#my-canvas{
    margin-inline: auto;
    max-width: 70vh;
    max-height: 70vh;
    width: 100%;
    min-width: 380px;
  }

/* .background{
    background-color: aqua;
    width: 500px;
} */

.main-layout{
    width: 100vw;
    display: none;
    justify-content: space-around;
    background-color: #e3e3e3;
}

.editing-settings{
  padding-top: 20px;
  display: grid;
  /* grid-template-rows: 20px 20px 20px 20px; */
  grid-template-rows: repeat(auto-fit, 50px);
  width: 30vw;
  min-width: 250px;
}

.input-text1{
  border-radius: 10px;
  border: none;
  height: 20px;
}

.text1{
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid white;
    color: black;
}

.gallery-modal{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;

  /* justify-content: space-between; */

  /* grid-template-columns: 20vw 20vw 20vw 20vw; */
  /* width: 100vw; */
  /* height: 100vh; */
  left: 0;
}

.gallery-modal img{
height: 250px;
}

.footer{
  display: flex;
  height: 20vh;
  background-color: #ff7f00;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-links{
  display: flex;
  justify-content: space-between;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li{
  margin-right: 50px;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.clean-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rights{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.menu{
  display: none;
}