@media (max-height: 630px) {

    .share,
    .save-btn {
        height: 35px;
    }

    .editing-settings {
        height: 45vh;
    }
}

@media (max-width: 740px) {
    .main-header {
        height: 5vh;
    }

    .gallery-modal img {
        min-width: 150px;
    }

    .nav-bar {
        margin-right: 80px;
    }

    .logo {
        font: 20px cursive;
    }

    .main-layout {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        width: 80vw;
        margin: auto;
        align-items: center;
    }

    .canvas-container {
        min-height: 40vh;
        height: 100%;
        width: 90%;
        max-width: 40vh;
        /* max-height: 50vh; */

    }

    .editing-settings {
        height: 40vh;
        padding-top: 0;
        grid-template-rows: repeat(auto-fit, 6vh);
        width: 80vw;
        min-width: 150px;
    }

    #my-canvas {
        max-height: 40vh;
        min-width: 150px;
        max-width: 40vh;
    }

    .footer {
        height: 15vh;
    }

    .header-links {
        display: none;
        position: absolute;
        background-color: rgb(255, 219, 189);
        justify-content: space-between;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 100vh;
        z-index: 2;
    }

    .display-block {
        display: block;
    }

    li {
        padding-bottom: 30px;
        border-bottom: 1px solid black;
    }


    li span {
        color: black;
    }

    .nav-bar .menu {
        display: block;
        font-size: 30px;
    }

    .menu:hover {
        cursor: pointer;
    }

    .share,
    .save-btn {
        height: 20px;
        width: 100px;
    }

    .def-btn {
        height: 30px;
        width: 30px;
    }

    .def-img {
        height: 20px;
        width: 20px;
    }

    .scrolling-wrapper button {
        font-size: 20px;
    }
}